{
    "days_old": 15,
    "schedule_hours": 12,
    "trakt": {
        "base_url": "https://api.trakt.tv",
        "id": "xxx",
        "secret": "xxx",
        "list": "xx",
        "user": "yourTraktUser"
    },
    "radarr": {
        "url": "http://192.168.0.10:7878", 
        "api_key": "xxx"
    }
}